name: ci
on:
  push:
    branches:
      - master
    tags-ignore:
      - '*.*'
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Install Task
      uses: arduino/setup-task@v2

    - name: Test
      run: |
        task test

    - name: Install Podman
      uses: redhat-actions/podman-install@main

    - name: Install Podman Compose
      run: |
        pip3 install podman-compose

    - name: E2E Tests
      env:
        GOPATH: '/home/runner/go'
      run: |
        export PATH="$GOPATH/bin:$PATH"
        task test-e2e
  
  build-image:
    # verifying the image can be built (real build and push is done in the `cd` workflow)
    name: Build Image
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Build image
      id: build-image
      uses: redhat-actions/buildah-build@v2
      with:
        image: codeready-toolchain/argocd-mcp-server
        tags: latest # we won't push the image to a registry in this workflow, so we're good with just the `latest` tag
        containerfiles: Containerfile
        platforms: linux/amd64
      
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
        args: --config=./.golangci.yml --verbose